body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgba(61, 12, 225, 0.787);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header h1{
    font-size: 45px;
}

nav ul li  {
    justify-content: center;
    display: inline;
}  
label{
    
}
    
